:root{
  --success: #28a745;
  --dark: #343a40;
}

/*===========LOG IN/ REGISTER ========*/

.hero{
  min-width: 590px;
  
}
.form-box{
  width: 440px;
  height: 540px;
  position: relative;
  margin: 6% auto;
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  color: #79a3b1;

}

.button-box{
  width:320px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0px 0px 0px 3px #79a3b1;
  border-radius: 30px;
}

.toggle-btn{
  width:150px;
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
.toggle-btn:focus,
.input-field:focus,
.submit-btn:focus{
  outline:none;
}
input[type=text],
input[type=password],
input[type=email]{
padding: 5px;
margin: 5px 0;
}

#b1tn{
  top:0;
  left:0;
  position: absolute;
  width:160px;
  height:100%;
  background: #d0e8f2;
  border-radius: 30px;
  transition: .5s;
}
.input-group{
  top:180px;
  width: 320px;
  position: absolute;
  transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0px;
  margin: 5px 0;
  border-left: 0;
  border-top:0;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background: transparent;
}
.input-field:focus{
  outline:none;
}
.submit-btn{
  width:85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: #79a3b1;
  color: white;
  border:0;
  outline:none;
  border-radius: 30px;
}
.check-box{
  margin: 30px 5px 30px 0;
}
#check{
  display: flex;
  align-items: flex-start;
}
#check label{
  margin-top: auto;
}
#login{
  left:50px;
}

#register{
  left:450px;
}

/*-- Body Reset --*/

body {
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  color: #616971;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  /* background-color: #b3ffb3; */
  background: linear-gradient( #79a3b1 0%, #d0e8f2 35%, #fcf8ec 100%);
  font-size: larger;
}

.italic{
  font-style: italic;
}

.center{
  text-align: center;
  align-content: center;
  justify-content: center;
}
.btn.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.black{
  color: rgb(43, 43, 43) !important;
}

.white{
  color: rgb(240, 240, 240) !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(240, 255, 240, 0.842);
  color: blue;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color:rgb(245,245,140);
}


/*============= TOP BAR HEADER =============*/


/*============= NAVIGATION =============*/
.navbar-brand img{
  height: 2rem;
  vertical-align: text-bottom;
}



.navbar-custom { 
  /* background-image: linear-gradient(to right,rgb(37, 128, 170) 0%, rgb(41, 141, 86) 60%); */
  background-image: linear-gradient(to right, #456268 0%,#79a3b1 50%);
  border-bottom: 2px solid #fcf8ecca;
  border-bottom: 2px solid #fcf8ecca;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
} 
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: white; 
} 
.navbar{
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
}
.nav-item{
  padding: .5rem;
}
.nav-link{
  color: white!important;
}

.nav-link.active{
  color:#28334AFF !important;
}

.nav-link:hover{
color: #28334AFF!important;
}
/* li.nav-item { 
  display: table-cell; 
  position: relative; 
  padding: 15px 10px;
} */

a.nav-link{
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a.nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background:  #28334AFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

button.navbar-toggler,
button.navbar-toggler:focus{
  outline:0;
  border: none;

}
.navbar li{
  text-transform: uppercase;
}
/*============= CAROUSEL =============*/
#carousel{
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
  margin: auto;
}
/* .carousel-inner{
  max-height: 38rem!important;
} */

/*---Change Carousel Transition Speed --*/
.carousel-iteminext,
.carousel-item-prev,
.carousel-item.active{
  transition: transform 1.2s ease;
}

/*-- Carousel Content --*/
.carousel-caption{
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.bg-custom{
  background-color: rgba(0, 0, 0, .4);
  color: white;
  border-radius: 1rem;
}

.carousel-caption h1{
  font-size: 3.8rem;
  text-shadow: .1rem .3rem .3rem rgba(0, 0, 0, 1);
}

.border-success{
  border: .1rem solid #456268!important;
}
.border-custom-top{
  border-top: .2rem solid var(--dark)!important;
}
/* h1{
  color: #456268!important;
  opacity: 1 !important;
} */

.carousel-caption h3{
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
}

.btn-lg{
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}

/*=========== BUTTONS ============*/


.border-custom {
  border: .1rem solid #28a745!important;
}

/* .bg-custom {
  background-color: #2BAE66FF !important;
} */

a.bg-custom:hover, a.bg-ccustom:focus,
button.bg-custom:hover,
button.bg-custom:focus {
  background-color:  rgb(35, 143, 84) !important;
}


.btn-outline-custom {
  color: #2BAE66FF;
  background-color: transparent;
  background-image: none;
  border-color:  #2BAE66FF;
}

.btn-outline-custom:hover {
  color: #fff;
  background-color:  #2BAE66FF;
  border-color:  #2BAE66FF;
}

.btn-outline-custom:focus, .btn-outline-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(35, 143, 84, 0.5);
}

.btn-custom {
  color: #fff;
  background-color: #2BAE66FF;
  border-color:#2BAE66FF;
}

.btn-custom:hover {
  color: #fff;
  background-color: rgba(35, 143, 84);
  border-color: rgba(35, 143, 84);
}

.btn-custom:focus, .btn-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(35, 143, 84, 0.5);
}

#go-top-link {
  display: none;
  transition: visibility 0s ease 0s;
  opacity: 0.8;
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.btn-dark:hover{
  background-color: black !important;
  border: 3px solid black !important;
}

/* body.scolled #go-top-link {
  opacity: 1;
  visibility: display;
  -webkit-transition: visibility 0s ease 0s,opacity .7s ease .1s;
  -o-transition: visibility 0s ease 0s,opacity .7s ease .1s;
  transition: visibility 0s ease 0s,opacity .7s ease .1s;
}

#go-top-link a {
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
} */

/* #myBtn{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .7s ease 0s,visibility .1s ease .8s;
  -o-transition: opacity .7s ease 0s,visibility .1s ease .8s;
  transition: opacity .7s ease 0s,visibility .1s ease .8s;
  display: block;
  position: fixed;
  bottom: 50px;
  right: 0;
}

#myBtn-works{
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0s ease 0s,opacity .7s ease .1s;
  -o-transition: visibility 0s ease 0s,opacity .7s ease .1s;
  transition: visibility 0s ease 0s,opacity .7s ease .1s;
} */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*============ FeedBack =============*/
/* .feedback{
  background-color: #79a3b1;
} */
 .card{
  background-color: #fcf8ec;
  color: #456268;
  width: 20rem;
  height: 40rem;
  padding: 3px;
  border: 1px solid #456268;
} 
.card-text-footer{
  margin-bottom: 0;
  text-align: right;
  font-style: oblique;
}
.card-text{
  padding: 0 !important;
}



/*=========== TWO COLUMN SECTION ===========*/
.bio{
  background-color: #456268;

}
  div.bios p::first-letter,
  div.bios1 p::first-letter,
  div.bios2 p::first-letter{
    font-size: 2rem;
    font-weight: bold;
}

.bios{
  background-color: #d0e8f2;
  border-radius: 20px;
  padding: 15px;
  color:rgb(43, 43, 43);
}

.bios1{
  background-color: #79a3b1;
  border-radius: 20px;
  padding: 15px;
  color:rgb(43, 43, 43);
}
.bios2{
  background-color: #456268;
  border-radius: 20px;
  padding: 15px;
  color: white;
}
.rotund{
  border-radius: 30px;
}

img.closi{
height:auto;
margin-top: 15%;
}

/*=============== PORTOFOLIU ===============*/
.block{
  display: block;
}

.bio p{
  color: white;
}
 .portofoliu{
  background-color: #d0e8f2;
  position: relative;
  color: #456268; 
}

.radius{
  border-top-right-radius: 20px;
  border-radius: 20px;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: rgba(27, 38, 41, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.portofoliu:hover .overlay {
  opacity: 1;
   
}

/* img:hover{
  filter: blur(5px);
} */
/*============= FOOTER =============*/
footer{
  background-image: linear-gradient(to right, #456268 0%,#79a3b1 50%);
  padding: 1rem 2rem 3rem;
}
footer img{
height: 3.5rem;
margin: 1.5rem auto;
}
footer p, footer a,
.socket a{
  color: white;
  text-decoration: none;
}

ul.social{
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social>li{
  margin: auto;

}

footer .svg-inline--fa{
  font-size: 2.3 rem;
}
footer .svg-inline--fa:hover{
  color: #fcf8ec;
}
.dunga{
  background-color: #456268 !important;
}
.social{
  font-size: 3rem;
  height: 31px;
  color: #d0e8f2;
}
/*============= SOCKET =============*/

.socket{
  background-color: #222222;
  border-top: .1rem solid #456268;
  bottom: 0;
}
.contact{
  height: 30px;
}
/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}

/*============ BUTONS ===================*/

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}



.hero-section::after{
  content: ' ';
  background-image: linear-gradient(122deg,rgb(59, 39, 175) 0%, rgb(41, 141, 86) 50%)!important;
  -webkit-transform:
        translateX(-20px)
        rotate(-4deg);
  width: 2000px !important;
}

body .fc {
  font-size: 1em;
}

.fc {
  direction: ltr;
  text-align: left;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
